.CTA {
    height: 45rem;
    background-image: url("/src/imgs/hero.jpg");
    background-size: clamp(50rem, 120rem, 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-bg);
    font-size: var(--size-step-1);

}

.CTAText {
    -webkit-text-stroke: 1px var(--color-fg);
}


.CTABtn {
    background-color: var(--color-bg);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.bestProducts {
    background-color: var(--color-accent);
    display: flex;
    justify-content: center;
    margin: 0;
}

.infoText {
    text-align: center;

}

/* Product styles */
.pCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    max-width: 300px;
}


.pImage {
    max-height: 20rem;
}

.pDetails {
    padding: 10px;
    text-align: center;
}

.pTitle {
    font-size: var(--size-step-1);
    font-weight: bold;
    margin: 0;
}

.pDescription {
    font-size: 1rem;
    margin: 5px;
}

.pPrice {
    font-size: var(--size-step-1);
    font-weight: bold;
    color: #fc0000;
    margin: 5px;
}

.add-to-cart {
    background-color: #192a56;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart:hover {
    transform: translateY(-2px);
}

.add-to-cart:hover {
    background-color: #0c1532;
}

@media (max-width: 1080px) {
    .CTA {
        height: 25rem;
    }

}

@media (max-width: 560px) {
    .bestProducts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .CTA {
        background-image: url("/src/imgs/heroAlt.jpg");
        background-position-x: 35rem;
        background-position-y: 60rem;

        height: 25rem;
    }
}