.storeSite {
    background-color: var(--color-accent);
    display: flex;
    justify-content: center;
    margin: 0;
}

.store {
    background-color: var(--color-bg);
    max-width: 80rem;

    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}