nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-nav);
    padding-left: var(--gutter);
}

h2 {
    margin: 0;
}

.navMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: var(--size-step-6);
    width: var(--size-step-6);
    padding-right: 0;
}

.navItem {
    padding-left: var(--space-s);
    padding-right: var(--space-s);
}

.searchComps {
    display: flex;
    height: var(--size-step-3);
    width: var(--size-step-6);
    font-size: var(--size-step-6);
}

.cartIcon {
    height: var(--size-step-1);
    width: var(--size-step-1);
}

.navBtns a {
    padding: var(--space-s);
    text-decoration: none;
    font-weight: bold;

}

@media (max-width: 50rem) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .navMain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 36.875rem) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .navMain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}